.section1 {
  background-image: url(../../img/wallpaper-ceu.jpg);
  height: 1000px;
  background-size: cover;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section1 {
    display: block;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 32vh;
  }
}
.section1__header {
  margin: 0 auto;
  background-color: black;
  max-width: 98%;
  width: 100%;
  height: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 3px #FFC107 solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1__header__logo {
  width: 116px;
  height: 100%;
  margin-left: 42px;
}
@media (max-width: 768px) {
  .section1__header__logo {
    width: 100px;
    height: 100%;
  }
}
.section1__header__btn {
  width: 116px;
  height: 64px;
  margin-right: 42px;
  color: #FFC107;
  font-size: 16px;
  word-wrap: break-word;
  background-color: black;
  border-radius: 10px;
  border: 3px #FFC107 solid;
  transition: all 0.5s;
}
.section1__header__btn:hover {
  background-color: #FFC107;
  color: whitesmoke;
}
.section1__header__btn:active {
  transform: translateY(-8px);
}
.section1__title {
  color: #FFC107;
  font-size: 24px;
  word-wrap: break-word;
  margin: 80px auto;
  width: 575px;
  text-align: center;
  opacity: 0%;
  transition: opacity 5s ease;
}
@media (max-width: 768px) {
  .section1__title {
    width: 100%;
    font-size: 20px;
  }
}

.transicao1 {
  height: 190px;
  width: 100%;
  background: linear-gradient(180deg, #0B0C28 85%, #1846CA 100%);
  max-width: 1024px;
  margin: 0 auto;
}
.transicao1__p1 {
  color: white;
  font-size: 16px;
  font-family: Star Jedi;
  font-weight: 400;
  word-wrap: break-word;
  width: 280px;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
.transicao1__p2 {
  font-size: 64px;
  font-family: Star Jedi;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding-top: 8px;
}
.transicao1__p2__1 {
  color: #1F31D4;
}
.transicao1__p2__2 {
  color: #D60808;
}

.section2 {
  background-image: url(../../img/wallpaper-luta.jpg);
  background-size: cover;
  height: 600px;
  background-repeat: no-repeat;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .section2 {
    display: block;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    height: 25vh;
  }
}

.transicao2 {
  background: linear-gradient(180deg, #7B0C14 0%, rgba(20, 16, 29, 0) 36%);
  height: 178px;
  max-width: 1024px;
  margin: 0 auto;
}
.transicao2__p {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  color: whitesmoke;
}

.filmes {
  max-width: 1024px;
  margin: 0 auto;
}
.filmes__tabpanel {
  display: flex;
  flex-direction: column;
}

.list-group-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  color: whitesmoke;
  width: 100%;
}
@media (max-width: 768px) {
  .list-group-1 {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.list-group-1 a {
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}
@media (max-width: 768px) {
  .list-group-1 a {
    font-size: 12px;
  }
}

.card {
  max-width: 240px;
  border: none;
  transition: all 1s;
}
@media (max-width: 678px) {
  .card {
    max-width: 100px;
  }
}
.card:hover {
  transform: scale(1.1);
}

a.item.active {
  padding-bottom: 5px;
  border-bottom: 2px solid whitesmoke;
}

.tab-pane.active {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: starJedi;
}

@font-face {
  font-family: starJedi;
  src: url(../../fonts/starjedi/Starjedi.ttf);
  font-weight: 400;
}
body {
  background-color: #14101D;
  width: 100%;
}

footer {
  margin-top: 200px;
  background-color: black;
  height: 100px;
}
footer p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
  padding-top: 16px;
}

/*# sourceMappingURL=main.css.map */
