.filmes {
    max-width:1024px ;
    margin: 0 auto;
    &__tabpanel{
        display: flex;
        flex-direction: column;
    }
}

.list-group-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    color: whitesmoke;
    width: 100%;

    @media(max-width:768px){
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    a{
        text-decoration: none;
        color: whitesmoke;
        text-align: center;

        @media(max-width:768px){
            font-size: 12px;
        }
    }
}

.card {
    max-width:240px ;
    border: none;
    transition: all 1s;

    @media(max-width:678px){
        max-width: 100px;
    }

    &:hover{
        transform: scale(1.1);
    }
}

a.item.active {
    padding-bottom: 5px;
    border-bottom: 2px solid whitesmoke;
}

.tab-pane.active{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}




