@use 'section1';
@use 'fonts';
@use 'transicao';
@use 'section2';
@use 'transicao2';
@use 'filmes';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: starJedi;
}




@font-face {
    font-family: starJedi;
    src: url(../../fonts/starjedi/Starjedi.ttf);
    font-weight: 400;
}

body {
    border: dotted;
    background-color: fonts.$corDeFundo;
}

footer{
    margin-top: 200px;
    background-color: black;
    height: 100px;

    p{
        color: white;
        font-size: 18px;
        font-weight: 400;
        word-wrap: break-word;
        text-align: center;
        padding-top: 16px;
    }
}



